services:
  - type: web
    name: stb-webapp
    env: docker
    plan: free
    docker:
      dockerfile: Dockerfile
    envVars:
      - key: PORT
        value: 10000
      - key: RENDER
        value: true
